.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: #9353FF;
}

.verde-limao {
    color: #DAFF01;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}
#logosami{
    width: 100px;
    height: 100px
    ;
}

#KitTerere{
    height: 500px;
}

#bones{
    height: 515px;
}

#acessorios{
    height: 508px;
}

#camisas{
    width: 427px;
}

#stanley{
    width: 300px;
}